<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VueJS</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <style>
    .demo {
      width: 100px;
      height: 100px;
      background-color: yellow;
    }

    .demo.active {
      background: blue;
    }

    .demo.error {
      background: red;
    }

    textarea {
      display: block;
    }

    button {
      margin-bottom: 10px;
    }
  </style>
</head>

<body>
  <div id="app">
    <!-- Cach 1 -->
    <!-- <div v-bind:style="{ backgroundImage: 'url(' + bg + ')' }"> -->

    <!-- Cach 2 -->
    <!-- <div v-bind:style="{ backgroundImage: background }"> -->

    <!-- Cach 3 -->
    <div v-bind:style="objectStyle">

      <h3>FirstName = {{ firstName }}</h3>
      <!-- <input v-on:keyup="handleKeyUp" type="text" placeholder="Nhap firstName"> -->
      <input v-model="firstName" type="text" placeholder="Nhap firstName">
      <p>{{ about }}</p>
      <textarea v-model="about" cols="30" rows="10"></textarea>
      <br>
      <button v-on:click="changeActive">Change Active</button>
      <button v-on:click="changeError">Change Error</button>
      <br>
      <div class="demo" v-bind:class="objClass">

      </div>

      <hr>

      <div v-bind:style="{ color: activeColor, fontSize: fontSize + 'px', marginTop: '20px' }">
        Text Style Bindings
      </div>
    </div>
  </div>
  <script src="./main.js"></script>
</body>

</html>